.cards {
  display: flex;
  flex: start;
  flex-direction: column;
  align-items: center;
  background-color: grey !important;
  color: white !important;
  border: 3px solid black !important;
}
