.img_site {
  width: 230px;
  height: 200px;
  border-radius: 5px;
}
.projects {
  display: flex;
  margin: auto;
  width: 70%;
}
.card {
  margin: 10px;
}
.card-body a {
  color: #fff;
}
.card-body a:hover {
  color: lightseagreen;
}
